
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */

.container{
    width: 100%;
    margin: 0 auto;
}

header .container{
    height: 80px;
}

#logo{
    height: 60px;
    vertical-align: middle;
    margin-left: 20px;
}

#logo-text{
    font-size: 3rem;
    font-weight: bold;
    vertical-align: middle;
}

/* MAIN */
main .container{
    border-width: 20px 200px 10px;
    border-style: solid;
    border-color: #f6f8f9;
}

/* NAV */
nav{
    height: 70px;
    border-bottom: 5px solid #f6f8f9;
    padding-top: 25px;
    padding-left: 50px;
}

.button{
    border-style: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.button.task{
    background-color: #47adf1;
    color: white;
}

.button.section{
    border: 1px solid #d1d5da;
    color: #d1d5da;
    background-color: white;
}

/* Section */
section {
    padding: 50px 50px ;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 0.8rem;
}

li.father{
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.5rem;
}

.circle{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 3px solid #69c2ac;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    color: #69c2ac;
    margin-right: 10px;
}

.circle.red{
    border-color: #ee7670;
    color: #ee7670;
}

.label{
    padding: 0px 5px;
    background-color: #45abea;
    border-radius: 10px;
    margin-left: 5px;
    color: white;
    font-size: 0.7rem;
    font-weight: normal;
}

.label.q1{
    background-color: #9c72e4;
}

.label.re{
    background-color: #64c0a9;
}

.label.mobile{
    background-color: #f29e33;
}

.label.web{
    background-color: #d863a1;
}

.label.sale{
    background-color: #b0c926;
}

span.triangle{
    font-size: 1.2rem;
}